meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="application-name" content="YouLang")
meta(name="Description" content="YouLang")
meta(name="author" content="Mikołaj Cankudis")
meta(name="theme-color" content="#004488")
title YouLang
link(rel="shortcut icon" href="/images/favicon.png")
link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="manifest" href="/manifest")
style
  include ../styles/normalize.css
  include ../styles/skeleton.css
  include ../styles/icons.css
  include ../styles/loader.css
  include ../styles/sliders.css
  include ../styles/modal.css
  include ../styles/cards.css
  include ../styles/main.css
