a#start.hideOnMobile(href="/") 
  img.logo(src="images/favicon.png" alt="YL")
a#login.loggedOutNav(href="/login") 
  span.hideOnMobile Login
  i.material-icons.md-36.hideOnDesktop lock_open
a#register.loggedOutNav(href="/register") 
  span.hideOnMobile Register
  i.material-icons.md-36.hideOnDesktop person_add
#home.loggedInNav
  a
    span.hideOnMobile Home
    i.material-icons.md-36.hideOnDesktop home
#book.loggedInNav
  a 
    span.hideOnMobile Book
    i.material-icons.md-36.hideOnDesktop book
#dictionary.loggedInNav
  a 
    span.hideOnMobile Dictionary
    i.material-icons.md-36.hideOnDesktop translate
#groups.loggedInNav
  a
    span.hideOnMobile Groups
    i.material-icons.md-36.hideOnDesktop group
#settings.loggedInNav
  a 
    span.hideOnMobile Log out
    i.material-icons.md-36.hideOnDesktop settings
#groupPicker.loggedInNav.leftSlider
  label.hideOnMobile Pick a group
  b.hideOnDesktop Pick a group 
  select#groupsSelect
  i.material-icons.md-18.u-pull-right.hideOnDesktop chevron_right