doctype html
html(lang="en")
  head
    include ../elements/head
  body
    include ../elements/loader
    header
      include ../elements/navbar    
    #btnAdd
      i(class="material-icons") get_app
    main(class="container")
    .fillingBox(style="min-height: 250px")
    footer
      include ../elements/footer
    script
      include ../scripts/functions.js
      include ../scripts/events.js
      include ../scripts/scene.js
      include ../scripts/home.js
      include ../scripts/settings.js
      include ../scripts/word.js
      include ../scripts/book.js
      include ../scripts/group/main.js
      include ../scripts/group/displayer.js
      include ../scripts/group/new.js
      include ../scripts/app.js
