doctype html
html(lang="en")
  head
    include ../elements/head
  body
    include ../elements/loader
    header
      include ../elements/navbar    
    #btnAdd
      i(class="material-icons") get_app
    main(class="container")
      h1 Hejka
    .fillingBox(style="min-height: 200px")
    footer
      include ../elements/footer