doctype html
html(lang="en")
  head
    include ../elements/head
    script
      include ../scripts/functions.js
  body
    include ../elements/loader
    header
      include ../elements/navbar
    main(style="text-align: center")
      h1 Register a potikreff account
      form#registerForm
        label Username
        br
        input#username(type="text")
        br
        label Email
        br
        input#email(type="email")
        br
        label Password
        br
        input#password(type="password")
        br
        button(type="submit") Register
      .fillingBox
    footer
    script.
      window.addEventListener('load', (e) => document.querySelector('.loader').remove())
      document.querySelectorAll('.loggedInNav').forEach(x=>x.remove());
      const registerForm = document.getElementById('registerForm');
      registerForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;
        const formData = {username, password, email}
        fetch("/user/register", {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
          },
          referrer: "no-referrer",
          body: JSON.stringify(formData)
        })
        .then(async(res) => {
          if(!res.ok) res.text().then(text => toast(text, 4000, {backgroundColor: 'red'}));
          else {
            toast('Account created, you can now log in', 4000, {backgroundColor: '#9ccc65'})
            window.location.href="/login";
          }
        });
      })
