.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #dddddd;
  color: black;
}

.flip-card-back {
  background-color: #0088bb;
  color: white;
  transform: rotateY(180deg);
}

@media (min-width: 750px) {
  .flip-card {
    margin-top: 25px;
  }
}
