.loader {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004488;
  padding-top: 50%;
  justify-content: space-around;
  z-index: 999;
}
.loader div {
  position: relative;
  max-height: 134px;
  border: solid 25px transparent;
}
.loader div::after {
  content: '';
  display: block;
  position: absolute;
  top: -7%; bottom: 0; left: -7%; right: 0;
  width: 102%;
  height: 102%;
  border: 8px dashed #002244;
  border-radius: 50%;
  animation: turnaround 4s infinite;
}
.loader div::before {
  content: '';
  display: block;
  position: absolute;
  top: -15.5%; bottom: 0; left: -15.5%; right: 0;
  width: 116%;
  height: 116%;
  border: 10px dashed #780000;
  border-radius: 50%;
  animation: turnaroundReverse 4s infinite 1s;
}
@keyframes turnaround {
  from { 
      transform: rotate(0deg); 
  }
  to { 
      transform: rotate(360deg); 
  }
}
@keyframes turnaroundReverse {
  from { 
      transform: rotate(0deg); 
  }
  to { 
      transform: rotate(-360deg); 
  }
}