header {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: #004488;
  justify-content: space-evenly;
}
header div a {
  text-decoration: none;
  color: lightsteelblue;
}
header div a:hover {
  color: white;
}
header div {
  padding: 8px;
}
main.container {
    margin-top: 20px;
}
button .material-icons {
  line-height: unset;
}
.activeNav {
  color: #50cdff;
}
.pressed {
  filter: brightness(0.95);

}
.pressed * {
  -webkit-transition:-webkit-transform .2s;
    -moz-transition:   -moz-transform .2s;
    -ms-transition:    -ms-transform .2s;
    transition:        transform .2s;
  transform: scale(0.9);
}
#bookForm.unfolded {
  -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
}
#bookForm {
  background-color: white;
  -webkit-transition:-webkit-transform .4s ease;
    -moz-transition:   -moz-transform .4s ease;
    -ms-transition:    -ms-transform .4s ease;
    transition:        transform .4s ease;
  -webkit-transform: translate(0, -120%);
    -moz-transform: translate(0, -120%);
    -ms-transform: translate(0, -120%);
    transform: translate(0, -120%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.hideOnMobile {
  display: none;
}
.red {
  background-color: #fe5252;
}
.word {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.word span {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
.wordPopup {
  position: absolute;
  right: 10px;
  background-color: white;
  padding: 10px 10px 0px 10px;
  box-shadow: 0px 0px 10px 1px grey;
  border-radius: 8px;
}
.wordPopup button {
  display: block;
}
#btnAdd {
  display: none;
  position: absolute;
  bottom: 64px;
  left: 0;
  z-index: 103;
}
.container {
  width: 85%;
  padding: 0;
}
@media (min-width: 750px) {
  .logo {
    padding-top: 4px;
    object-fit: contain;
    max-height: 64px;
  }
  header {
    position: relative;
    justify-content: flex-start;
  }
  header div,
  header>a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 0px 16px;
  }
  #login:hover,
  #register:hover,
  #home:hover,
  #book:hover,
  #dictionary:hover,
  #groups:hover,
  #logout:hover {
    cursor: pointer;
    background-color: #004488;
    filter: brightness(0.8);
  }
  header div a {
    color: white;
  }
  header div select {
    font-weight: normal;
    margin: 0;
  }
  .hideOnMobile {
    display: block;
  }
  .hideOnDesktop {
    display: none;
  }
  .leftSlider {
    display: block;
    position: relative;
    width: auto;
    padding: 0;
    color: inherit;
    margin: inherit;
    right: inherit;
    left: inherit;
  }
  #groupPicker {
    background-color: inherit;
    padding: 0 16px;
  }
}
