#groupPicker {
  color: white;
  border-radius: 0 0 10px 0;
  padding: 14px 0 0 24px;
}
#groupPicker i {
  padding: 8px 4px 0px 0px;
}
#groupPicker select {
  color: black;
}
.leftSlider {
  background-color: #111;
  width: 100%;
  position: fixed;
  margin-right: -24px;
  z-index: 100;
  top: 0;
  right: 100%;
  transition: 0.4s;
}
.leftSlider:hover {
  right: 0;
}
.rightSlider:hover {
  left: 0;
}
.rightSlider {
  background-color: #111;
  width: 110%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 100%;
  margin-left: -24px;
  transition: 0.4s;
}
.rightSlider i {
  color: white;
}
#searchWords {
  border-radius: 0 0 0 10px;
  padding: 12px 0px 0 1px;
}
#searchWords i {
  padding-top: 8px;
  padding-left: 4px;
}
#searchWords input {
  margin-left: 4px;
  padding: 10px;
}
#sortWords {
  top: 67px;
  border-radius: 10px 0 0 10px;
  padding: 12px 0px 2px 1px;
}
#sortWords i {
  padding-left: 4px;
}
#sortWords button,
#wordsMenu>div>button {
  margin-left: 8px;
}
#wordsMenu {
  top: 128px;
  width: 40%;
  min-height: 42px;
  border-radius: 10px 0 0 10px;
  padding: 16px 0px 0px 0px;
}
#wordsMenu:hover {
  left: 67%;
}
#wordsMenu div {
  background-color: #111;
  position: absolute;
  left: 24px;
  top: 8px;
  border-radius: 0 0 0 10px;
}
